.embla {
    max-width: 42rem;
    margin: auto;
    --slide-height-casts: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 50%;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}

/* .embla__container > *:not(:first-child) {
    margin-left: 1rem;
} */

.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}

.embla__slide__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
    user-select: none;
}

.embla-menu__slide__number {
    height: var(--slide-height);
    user-select: none;
}

.embla__controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2.85rem;
}

.embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
}

.embla__button {
    -webkit-tap-highlight-color: rgba(230, 230, 230, 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem rgb(222, 222, 222);
    width: 3rem;
    height: 3rem;
    z-index: 1;
    border-radius: 50%;
    color: rgb(222, 222, 222);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .15s ease-in;
}

.embla__button:hover {
    background-color: rgb(25, 25, 25);
}

.embla__button:disabled { 
    box-shadow: inset 0 0 0 0.2rem rgb(25, 25, 25);
    color: rgba(101, 101, 101);
    pointer-events: none;
}

.embla__button__svg {
    width: 37%;
    height: 37%;
}

.embla__dots {
    display: none;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1); */
}

/* .embla__dot {
    -webkit-tap-highlight-color: rgba(230, 230, 230, 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.embla__dot:after {
    box-shadow: inset 0 0 0 0.2rem rgb(222, 222, 222);
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
    transition: background-color .15s ease-in;
}

.embla__dot:hover::after {
    background-color: rgb(25, 25, 25);
}

.embla__dot--selected {
    pointer-events: none;
}

.embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem rgb(25, 25, 25);
} */

@media screen and (max-width: 650px) { 
    .embla {
        --slide-size: 100%;
    }
}