.footer .footer__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
}

.footer__links h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
}

.footer__links-list .footer__links-list_item .link {
    padding: 0.35rem 0;
}

.footer__links-list_item .link a {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-sub-white);
}

.footer__links-list_item .link a:hover {
    color: var(--color-grey);
}

.footer__links-list .footer__links-list_item-bank {
    margin-top: 1.25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
}

.footer__links-list_item-bank img {
    width: 85px;
}

.footer .footer__contacts {
    margin-top: 6rem;
    border-top: 1px solid var(--color-gray);
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.footer__contacts .social-media {
    display: flex;
    align-items: center;
    gap: 18px;
}

.social-media .social-media_item a {
    font-size: 1.5rem;
    color: var(--color-sub-white);
}

.footer__contacts .copyright {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-sub-white);
}

@media screen and (max-width: 1078px) {
    .footer .footer__links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        column-gap: 25px;
        row-gap: 45px;
    }

    .footer__links-list .footer__links-list_item-bank {
        column-gap: 5px;
    }
}

@media screen and (max-width: 564px) {
    .footer__links-list_item .link a {
        font-size: 0.875rem;
    }

    .footer .footer__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 12px;
    }

    .social-media .social-media_item a {
        font-size: 1.25rem;
    }
    
    .footer__contacts .copyright {
        font-size: 0.875rem;
    }

    .footer__links-list .footer__links-list_item-bank {
        display: flex;
        align-items: center;
        gap: 25px;
    }
}

@media screen and (max-width: 375px) {
    .footer__links-list_item-bank img {
        width: 72px;
    }

    .footer__contacts .copyright {
        font-size: 0.785rem;
    }
}

@media screen and (max-width: 332px) {
    .footer__links-list_item-bank img {
        width: 62px;
    }
}