.findus {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.findus .findus__information {
    flex: 1;
}

.findus__information h2 {
    text-align: left;
}

.findus__information p {
   color: var(--color-sub-white);
   margin-top: 1rem;
   max-width: 450px;
}

.findus__information button {
    margin-top: 6.5rem;
}

.findus__information_mobile {
    display: none;
}

@media screen and (max-width: 1190px) { 
    .findus {
        flex-direction: column;
        align-items: flex-start;
    }

    .findus .findus__information {
        flex: auto;
    }

    .findus__information p,
    .findus__information button {
        display: none;
    }

    .findus .findus__map {
        margin-top: 2rem;
    }

    .findus__information_mobile {
        display: block;
        margin-top: 2rem;
    }

    .findus__information_mobile button {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 850px) { 
    .findus__information_mobile button {
        width: 100%;
    }
}