.about p.about-description {
    color: var(--color-gray);
    max-width: 800px;
    margin: 0 auto;
    margin-top: 0.45rem;
    text-align: center;
}

.about .about__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 98px;
    margin-top: 3rem;
}

.about .about__content p {
    color: var(--color-sub-white);
}

.about__content span {
    color: #fff;
    font-weight: 600;
}

.about__content span:hover {
    color: var(--color-grey);
    cursor: pointer;
}

.about__video {
    position: relative;
    height: 100%;
}

.about__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.about__video-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.25);
    border-radius: 12px;
}

.about__video-overlay_circle {
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-white);
    transition: opacity .15s ease-in, background-color .15s ease-in;
}

.about__video-pause, 
.about__video-play {
    color: var(--color-white);
    font-size: 3rem;
    transition: opacity .15s ease-in;
}

.about__video-overlay_circle:hover {
    background-color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
}

.about__video-overlay_circle:hover .about__video-pause, 
.about__video-overlay_circle:hover .about__video-play {
    opacity: .7;
    cursor: pointer;
}

@media screen and (max-width: 1024px) { 
    .about .about__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .about .about__content p {
        text-align: center;
    }

    .about__video {
        width: 560px;
        align-self: center;
    }
}

@media screen and (max-width:768px) { 
    .about__video {
        width: 100%;
        align-self: center;
    }
}