.header {
    position: relative;
    width: 100%;
    min-height: calc(100svh - 92px);
}

.header {
    background: url("../../assets/bg-hero-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__overlay {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) calc((50vw - 170px) - 340px), rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.4) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.header__text {
    position: relative;
    z-index: 7;
    max-width: 800px;
    padding-top: 6rem !important;
}

.header__text h1 {
    font-size: 3.35rem;
    font-weight: 800;
}

.header__text p {
    color: var(--color-sub-white);
    margin-top: .75rem;
}

.header__text button {
    margin-top: 1.85rem;
}

@media screen and (max-width: 850px) { 
    .header {
        min-height: 100svh;
    }

    .header__overlay {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) calc((50vw - 170px) - 340px), rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.5) 100%);
    }

    .header__text h1 {
        font-size: 3.25rem;
    }

    .header__text {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 18rem !important;
    }

    .header__text button {
        width: fit-content;
    }
}

@media screen and (max-width: 650px) {
    .header {
        background-position: right;
    }

    .header__text h1 {
        font-size: 2.85rem;
    }
}

@media screen and (max-width: 480px) {
    .header__text {
        padding-top: 17rem !important;
    }
    
    .header__text h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 375px) {
    .header__text {
        padding-top: 16rem !important;
    }

    .header__text h1 {
        font-size: 2.15rem;
    }

    .header__text p {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 768px) and (max-height: 700px) {
    .header__text {
        padding-top: 15rem !important;
    }
}

@media screen and (max-width: 768px) and (max-height: 600px) {
    .header__text h1 {
        font-size: 2.65rem !important;
    }
}

@media screen and (max-width: 480px) and (max-height: 600px) {
    .header__text {
        padding-top: 14rem !important;
    }

    .header__text h1 {
        font-size: 2rem !important;
    }

    .header__text p {
        font-size: 0.75rem !important;
    }
}

@media screen and (max-width: 320px) and (max-height: 600px) {
    .header__text {
        padding-top: 14rem !important;
    }

    .header__text h1 {
        font-size: 1.5rem !important;
    }

    .header__text p {
        font-size: 0.675rem !important;
    }
}